@using Photo.Models
@using PhotoFiler.Helpers

@model IEnumerable<IPhoto>

@{
    ViewBag.Title = "Gallery";
}

<div id="photos" class="row image-preview">
</div>

<div class="modal fade" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" id="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title">Modal   </p>
            </div>
            <div class="modal-body">
                <img src="" id="image-preview">
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var photos = $('#photos');
        var page = 1;
        var count = 12;

        $(document)
            .ready(function ()
            {
                window.onscroll = (ev) =>
                {
                    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight - 100)
                    {
                        loadPhotos(++page, count);
                    }
                };                

                photos.on('click', 'span', function ()
                {
                    var hash = this.getAttribute('id');
                    var image = this.children[0];
                    var className = image.className;
                    
                    var modalDialog = document.getElementById('modal-dialog');
                    if (className.includes('portrait'))
                        modalDialog.setAttribute('class', 'modal-dialog');
                    else
                        modalDialog.setAttribute('class', 'modal-dialog modal-lg');

                    document.getElementsByClassName('modal-title')[0].textContent = image.getAttribute('alt');
                    document.getElementById('image-preview').setAttribute('src', '@Url.Content("~/Content/loader.gif")');
                    document.getElementById('image-preview').setAttribute('src', hash);

                    $('#image-modal').modal('show');
                });

                loadPhotos(page, count);
            })

        function loadPhotos(page, count)
        {
            $.get(`/Photos?page=${page}&count=${count}`, (data) =>
            {
                photos.append(data)
            });
        }

    </script>
}
