<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RoothPath" value="/mnt/public/trash/Wallpapers" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="HashLength" value="5" />
    <add key="CreatePreview" value="true" />
    <add key="EnableLogging" value="true" />
  </appSettings>
  <system.diagnostics>
    <sharedListeners>
      <add name="XmlFile" type="System.Diagnostics.XmlWriterTraceListener" initializeData="/mnt/public/logs/lighttpd/PhotoFiler.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <customErrors mode="Off" xdt:Transform="SetAttributes" xdt:Locator="Match(mode)" />
  </system.web>
</configuration>